@import "estilos-geral";

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(crimson, green);
  background-repeat: no-repeat;
}

#chao {
  display: block;
  box-sizing: content-box;
  position: fixed;
  top: 95%;
  width: 100%;
  height: 100%;
  background-image: url("/img/chao.svg");
  background-repeat: repeat-x;
}

#personagem {
  position: fixed;
  top: 75%;
  height: 20%;
  width: auto;
  left: 0%;
}
